In [1]:
PI = "three, dot, one, four, one, five, nine, two, six, five, three, five, nine"
counts = {}
for char in PI:
    if not char in counts:
        counts[char] = 1
    else:
        counts[char] += 1
counts

{'t': 4,
 'h': 2,
 'r': 3,
 'e': 11,
 ',': 12,
 ' ': 12,
 'd': 1,
 'o': 5,
 'n': 6,
 'f': 4,
 'u': 1,
 'i': 6,
 'v': 3,
 'w': 1,
 's': 1,
 'x': 1}

In [2]:
PI = "three, dot, one, four, one, five, nine, two, six, five, three, five, nine"
counts = {}
for word in PI.split(' '):
    if word in counts:
        counts[word] += 1
    else:
        counts[word] = 1
counts

{'three,': 2,
 'dot,': 1,
 'one,': 2,
 'four,': 1,
 'five,': 3,
 'nine,': 1,
 'two,': 1,
 'six,': 1,
 'nine': 1}

In [3]:
keys = ["two", "zero"]
vals = ["dos", "cero"]
en2sp = {} # empty dictionary
for i in range(len(keys)):
    en2sp[keys[i]] = vals[i]
en2sp

{'two': 'dos', 'zero': 'cero'}

In [4]:
words = "I love Comp Sci two two zero".split(" ")
for i in range(len(words)):
    default = words[i] # don't translate it
    words[i] = en2sp.get(words[i], default)
" ".join(words)

'I love Comp Sci dos dos cero'

In [5]:
sp2en = {}
for en in en2sp:
    sp = en2sp[en]
    sp2en[sp] = en
sp2en

{'dos': 'two', 'cero': 'zero'}

In [6]:
numerators = {"A": 1, "B": 2, "C": 3}
denominators = {"A": 2, "B": 4, "C": 4}
result = {}
for key in numerators:
    result[key] = numerators[key] / denominators[key]
result

{'A': 0.5, 'B': 0.5, 'C': 0.75}

In [7]:
incidents = {2017: 14, 2020: 18, 2018: 13, 2019: 16, 2021: 25, 2016: 10}
keys = sorted(list(incidents.keys()))
for k in keys:
    print(k, incidents[k], '*' * incidents[k])

2016 10 **********
2017 14 **************
2018 13 *************
2019 16 ****************
2020 18 ******************
2021 25 *************************

In [8]:
incidents = {2017: 14, 2020: 18, 2018: 13, 2019: 16, 2021: 25, 2016: 10}
best_key = None
for key in incidents:
    if best_key == None or incidents[key] > incidents[best_key]:
        best_key = key
print("Year", best_key, "had", incidents[best_key], "incidents (the max)")

Year 2021 had 25 incidents (the max)

In [9]:
d = {} 
d[1] = "one"
d[2] = "two"
for x in d:
   print(x)

1
2

In [14]:
word = "Tallahassee"
letter_dict = dict()
for letter in word:
    if letter in letter_dict:
       letter_dict[letter] += 1
    else:
       letter_dict[letter] = 1
print(a in letter_dict)

NameError: name 'a' is not defined

In [15]:
lst = []
header = ["name","number"]
A_info = ["A",1]
B_info = ["B",2]
C_info = ["C",3]
lst.append(header)
lst.append(A_info)
lst.append(B_info)
print(lst[-2][header.index("number")])

1

In [17]:
list_of_movies = [
{'title':'Tenet','year':2020,'genre':['Drama','Thriller']},
{'title':'Joker','year':2019,'genre':['Psychological thriller','Drama']},
{'title':'Parasite','year':2018,'genre':['Comedy','Thriller','Drama']},
{'title':'Minions','year':2018,'genre':['Comedy','Adventure','Animation']}
]
genre_movie_dict = {}
for movie in list_of_movies:
    for genre in movie['genre']:
        if genre not in genre_movie_dict:
            genre_movie_dict[genre] = []
        if movie['title'] not in genre_movie_dict[genre] and genre in movie['genre']:
            genre_movie_dict[genre].append(movie['title'])
print(genre_movie_dict)

{'Drama': ['Tenet', 'Joker', 'Parasite'], 'Thriller': ['Tenet', 'Parasite'], 'Psychological thriller': ['Joker'], 'Comedy': ['Parasite', 'Minions'], 'Adventure': ['Minions'], 'Animation': ['Minions']}

In [25]:
person = {}

person['name'] = 'Bob'
person['age'] = 45
person['isAlive'] = True
person['phone'] = [
  {'type': 'office', 'number': '123-456-7890'},       
  {'type': 'home', 'number': '789-456-1230'}
]
person['address'] = {'street': '1210 West Dayton Street', 'city': 'Madison', 'state': 'WI', 'zip': 53706}
type(person['address']['zip'])

int

In [50]:
grocery_list = {"Milk":{'quantity':2,'cost':10}, "Eggs":{'quantity':10,'cost':1}}
total_cost = ()
for item in grocery_list:
    total_cost += (grocery_list[item]['quantity'] * grocery_list[item]['cost'])
print(total_cost)

TypeError: can only concatenate tuple (not "int") to tuple

In [31]:
rows = [ ["x", "y", "name"], [3, 4, "Alice"], [9, 1, "Bob"], [-3, 4, "Cindy"] ]
header = rows[0]
data = rows[1:]
X = 0
Y = 1
NAME = 2
print((data[0][X] + data[1][X] + data[2][X]) / 3)

3.0

In [35]:
class_id_to_name = {
11943: 'COMP SCI 220',
206071:  'COMP SCI 200',
24285: 'COMP SCI 300',
151199: 'COMP SCI 320',
98330: 'STATS 324'
}
print(class_id_to_name[11943])
print(class_id_to_name[98330][-3:])
print(class_id_to_name[98330][:4])

COMP SCI 220
324
STAT

In [39]:
s = {"a": 1, "b": 2, "c" : 3}
test = [s, 4, 5]
def foo(arr):
    arr[0]["a"] = 2
    arr[2] = 6
    print(test)
foo(test)

[{'a': 2, 'b': 2, 'c': 3}, 4, 6]

In [49]:
header = ["name", "x", "y"]
rows = [
   ["Alice", 30, 20],
   ["Bob", 5, 11],
   ["Cindy", -2, 50],
]

vals = [
{"name":"Alice", "x":30, "y":20},
{"name":"Bob", "x":5, "y":11},
{"name":"Cindy", "x":-2, "y":50},
]
print(rows[2][-2])
print(rows[1][-2])
#print(vals[1]["Bob"]["x"])
print(rows[1][header.index("x")])
print(vals[-2]["x"])
print(rows[1][-2])
print(vals[1]["x"])

-2
5
5
5
5
5